<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xmlns:aop="http://www.springframework.org/schema/aop"
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd"> 
	
	<mvc:annotation-driven />  
	
	<!-- scan for the controller -->
	<context:component-scan base-package="com.gp.web"/>
	<context:component-scan base-package="com.gp.ga"/>
	
	<!-- Customized View Resolver to resolve .swf, .config and .properties files -->
    <bean id="custViewResolver"
          class="com.gp.web.view.MultipleViewResolver">
        <property name="resolvers">
            <map>            
              <entry key="config">
                    <bean class="com.gp.web.view.GenericFileViewResolver">
                        <property name="viewName" value="configFileView"/>
                        <property name="location" value="/WEB-INF/config/"/>
                        <property name="cache" value="false"/>
                    </bean>
                </entry>
                <entry key="swf">
                    <bean class="com.gp.web.view.GenericFileViewResolver">
                        <property name="viewName" value="swfFileView"/>
                        <property name="location" value="/WEB-INF/swf/"/>
                        <property name="cache" value="false"/>
                    </bean>
                </entry>                
            </map>
        </property>
    </bean>

   <bean id="configFileView" class="com.gp.web.view.GenericFileView" scope="prototype">
   		<property name="contentType" value="text/plain"/>
   		<property name="url" value=""/>
    </bean>

    <bean id="swfFileView" class="com.gp.web.view.GenericFileView" scope="prototype">
   		<property name="contentType" value="application/x-shockwave-flash"/>
   		<property name="url" value=""/>
    </bean>

    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"> 
        <property name="prefix" value="/WEB-INF/views/"/> 
        <property name="suffix" value=".jsp"/>
        <property name="order" value="1"/>
         
    </bean>
    
</beans>